<span
  title="{{ translations.changeDir }} {{ keyHints.directionChange }}"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="changeDir()">
  <i class="fi-loop rotate-on-hover"></i>
</span>
<span
  title="{{ translations.focusRoot }}"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="focusRoot()">
  <i class="fa fa-crosshairs rotate-on-hover"></i>
</span>
<span
  title="{{ translations.focusSel }} {{ keyHints.focusSelection}}"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="focusSelection()">
  <i class="fi-target-two rotate-on-hover"></i>
</span>
<span
  title="{{ translations.centerTree }} {{ keyHints.centerTree }}"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="centerGraph()">
  <i class="fa fa-dot-circle-o"></i>
</span>
<span
  title="{{ translations.perfectWidth }} {{ keyHints.perfectWidth }}"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="perfectWidth()">
  <i class="fa fa-arrows-h"></i>
</span>
