<span
  title="change direction"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="changeDir()">
  <i class="fi-loop rotate-on-hover"></i>
</span>
<span
  title="Focus Root"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="focusRoot()">
  <i class="fa fa-crosshairs"></i>
</span>
<span
  title="Focus Selection"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="focusSelection()">
  <i class="fi-target-two"></i>
</span>
<span
  title="Center Tree"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="centerGraph()">
  <i class="fa fa-dot-circle-o"></i>
</span>
<span
  title="Perfect Width"
  class="margined-hor-tiny clickable flash-on-hover"
  ng-click="perfectWidth()">
  <i class="fa fa-arrows-h"></i>
</span>
