<span
  title="Settings"
  class="clickable"
  style="margin-right: 10px"
  ng-click="settingsOn = !settingsOn">
  <i class="fi-widget rotate-on-hover"></i>
</span>
<span ng-show="settingsOn">
  <span
    title="compact tree"
    class="margined-hor-tiny clickable flash-on-hover"
    ng-click="compactTree()">
    <i class="fi-arrows-in"></i>
  </span>
  <span
    title="widen tree"
    class="margined-hor-tiny clickable flash-on-hover"
    ng-click="wideTree()">
    <i class="fi-arrows-out"></i>
  </span>
  <span
    title="change direction"
    class="margined-hor-tiny clickable flash-on-hover"
    ng-click="changeDir()">
    <i class="fi-loop rotate-on-hover"></i>
  </span>
</span>
