<div class="query-plugin">
  <form ng-submit="plugin.query()">
    <div class="search-on-click">
      <input type="search" ng-model="plugin.queryString" />
      <button class="micro" type="submit">Query</button>
    </div>
  </form>

  <div
    translate="query.noResults"
    ng-if="!plugin.queryStats.total && !plugin.queryInProgress"
    class="query-no-results">
  </div>

  <div ng-if="plugin.queryStats.total">
    <div class="query-stats clearfix">
      <span>Total: {{ plugin.queryStats.total }}</span>
      <span>Current: {{ plugin.queryStats.start }} - {{ plugin.queryStats.end }}</span>
    </div>
    <div class="paginator">
      <div
        class="pagination-item"
        ng-click="plugin.getPage(page)"
        ng-class="{ selected: page === plugin.queryStats.page }"
        ng-repeat="page in plugin.queryStats.pages">
        {{ page }}
      </div>
    </div>
  </div>

  <div ng-if="plugin.queryInProgress" class="query-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div ng-if="!plugin.queryInProgress" class="query-results">
    <!--extract to directive once it can do more-->
    <article class="query-item panel" ng-repeat="page in plugin.queryStats.results">
      <header>The parsed section's name</header>
      <section>
        <span>{{ page.text.previous}}</span>
        <span class="highlighted">{{ page.text.hi }}</span>
        <span>{{ page.text.after}}</span>
      </section>
      <footer>{{ page.urn }}</footer>
    </article>
  </div>
</div>
