<div class="query-plugin">
  <form ng-submit="plugin.query()">
    <div class="search-on-click">
      <input type="search" ng-model="plugin.queryString" />
      <button class="micro" type="submit">Query</button>
    </div>
  </form>

  <div
    translate="query.noResults"
    ng-if="!plugin.queryStats.total && !plugin.queryInProgress"
    class="query-no-results">
  </div>

  <div ng-if="plugin.queryStats.total">
    <div class="query-stats clearfix">
      <span>Total: {{ plugin.queryStats.total }}</span>
      <span>{{ plugin.queryStats.start }} - {{ plugin.queryStats.end }}</span>
    </div>
    <div class="paginator" ng-if="plugin.queryStats.totalPages > 1">
      <div
        class="pagination-item"
        ng-disabled="!plugin.queryStats.hasPrev"
        ng-click="plugin.getFirstPage()"
        ng-if="plugin.queryStats.totalPages > 3">
        <i class="fi-previous"></i>
      </div>
      <div
        class="pagination-item"
        ng-click="plugin.getPrevPage()"
        ng-if="plugin.queryStats.totalPages > 2">
        <i class="fi-arrow-left"></i>
      </div>
      <div
        class="pagination-item"
        ng-disabled="!plugin.queryStats.hasPrev"
        ng-click="plugin.getPage(page)"
        ng-class="{ selected: page === plugin.queryStats.page }"
        ng-repeat="page in plugin.queryStats.pages">
        {{ page }}
      </div>
      <div
        class="pagination-item"
        ng-disabled="!plugin.queryStats.hasNext"
        ng-click="plugin.getNextPage()"
        ng-if="plugin.queryStats.totalPages > 2">
        <i class="fi-arrow-right"></i>
      </div>
      <div
        class="pagination-item"
        ng-disabled="!plugin.queryStats.hasNext"
        ng-click="plugin.getLastPage()"
        ng-if="plugin.queryStats.totalPages > 3">
        <i class="fi-next"></i>
      </div>
    </div>
  </div>

  <div ng-if="plugin.queryInProgress" class="query-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div ng-if="!plugin.queryInProgress" class="query-results">
    <!--extract to directive once it can do more-->
    <article class="query-item panel" ng-repeat="page in plugin.queryStats.results">
      <header ng-if="result.readablePassage">
        {{ result.readablePassage }}
      </header>
      <header ng-if="page.mappingInProgress">
        <i class="fa fa-spinner fa-spin"></i>
      </header>
      <section>
        <span>{{ page.text.previous}}</span>
        <span class="highlighted">{{ page.text.hi }}</span>
        <span>{{ page.text.after}}</span>
      </section>
      <footer>{{ page.passage }}</footer>
    </article>
  </div>
</div>
