<div class="row">
<div class="small-12 columns">
  <label>
    <span translate="morph.searchByForm"/>
    <div class="row collapse">
    <div class="small-10 columns">
      <input type="search"
        ng-change="plugin.queryForm()"
        ng-model="plugin.formQuery" />
    </div>
    <div class="small-2 columns">
    <label class="postfix">
      <span translate="morph.matchAll"/>
      <input
        type="checkbox"
        ng-change="plugin.queryForm()"
        ng-model="plugin.matchAll"/>
    </label>
    </div>
    </div>
  </label>
</div>
</div>

