node_modules/*
bower_components/*
*.swp
coverage
dist/*
!dist/i18n
docs/*
!docs/custom
docs/custom/plato
data/
dist/
.idea/
deployment/
.sass-cache
app/css/*.css*
app/js/arethusa/version.json
app/js/arethusa/version.js
app/js/templates/compiled/
