@mixin easing-timing-function () {
  -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin toggler($in, $out) {
  @include easing-timing-function();

  &.ng-enter {
    opacity: 0;
    @include transition-duration($in);
  }

  &.ng-enter-active {
    opacity: 1; 
  }

  &.ng-leave {
    opacity: 1;
    @include transition-duration($out);
  }

  &.ng-leave-active {
    opacity: 0;
  }

  // Hide
  &.ng-hide-add {
    @include transition-duration($in);
    opacity:1;
  } 
  &.ng-hide-add.ng-hide-add-active {
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transition-duration($out);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }
}

@mixin slider($duration, $in, $out) {
  @include easing-timing-function();

  &.ng-enter {
    @include transform($in); 
    @include transition-duration($duration);
    opacity: 0;
  }

  &.ng-enter-active {
    @include transform($out);
    opacity: 1; 
  }

  &.ng-leave {
    @include transform($out);
    @include transition-duration($duration);
    opacity: 1;
  }

  &.ng-leave-active {
    @include transform($in);
    opacity: 0; 
  }

  // Hide
  &.ng-hide-add {
    @include transform($out);
    @include transition-duration($duration);
    opacity:1;    
  } 
  &.ng-hide-add.ng-hide-add-active {
    @include transform($in);
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transform($in); 
    @include transition-duration($duration);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform($out);
    opacity:1;
  }
}
