.selected {
  background-color: #F6D918;
}

.hovered {
  background-color: #5BC8DC;
}

.note {
  font-size: 0.7em;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.row {
  max-width: 95vw;
}

.context-menu {
  /*replaced by f-dropdown content of foundation for now*/

  /*padding: 0.7rem;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*border: solid 1px #cccccc;*/
  /*background: #fff;*/
}

.menu-element {
  padding: 0.2rem;
}
.menu-element:hover {
  background-color: #ebebeb;
}

ul.nested-dropdown {
  list-style: none;
  display: inline-table;
  border: 1px solid #cccccc;
  padding: 0 0.8rem 0 0.5rem;
  font-size: 0.875rem;
  text-align: left;
  background-color: #fafafa;
  background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 97% center;
}

ul.nested-dropdown:after {
  content: ""; clear: both; display: block;
}
ul.nested-dropdown ul {
  margin: 0;
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  border: 1px solid #cccccc;
  background-color: #fafafa;
}

ul.top-menu {
  left: -0.5rem;
}

ul.nested-dropdown li {
  float: none;
  position: relative;
  padding: 0 0.8rem 0 0.5rem;
  font-size: 0.875rem;
}

ul.nested-dropdown ul li:hover {
  background-color: #ebebeb;
}

ul.nested-dropdown li.nested {
  background-repeat: no-repeat;
  background-position: 97% center;
  background-image: url(menu_arrow_right.png);
  background-size: 7px auto;
}

ul.nested-dropdown ul li {
  padding: 0 0.8rem 0 0.5rem;
}

ul.nested-dropdown li:hover > ul {
  display: block;
}

ul.nested-dropdown ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#sidepanel {
  z-index: 1;
  position: relative;
}

#sidepanel-body {
  margin-left: 4px;
}

#sidepanel-resizer {
  position: absolute;
  width: 8px;
  border-left: 1px solid;
  border-color: #d8d8d8;
  cursor: e-resize;
}

svg {
  overflow: hidden;
}

.node rect {
  stroke: # 333;
  stroke-width : 1.5px;
  /* The following color needs to be taken from a foundation variable */
  /* once we start to use scss. It's the panels background color */
  fill: #f2f2f2;
}

.selected text {
  fill: white;
}

.selected rect {
  fill: #cc0000;
}

.edgeLabel rect {
  fill: #f2f2f2;
}

.tree-label {
  font-size: 0.7em;
}

.edgePath {
  stroke: #333;
  stroke-width : 0.5px;
  fill: none;
}

/* For exercise stuff */

input[type="text"].inline-form {
  display: inline;
  width: 120px;
}

input[type="text"].wrong-answer {
  border: 2px solid red;
}

input[type="text"].right-answer {
  border: 2px solid limegreen;
}

span.wrong-answer {
  color: red;
}

span.right-answer {
  color: limegreen;
}

/* Overrides to foundation */
.tabs dd>a {
  padding: 0.5em 0.7em;
  font-size: 0.8em;
}

.accordion dd>a {
  padding: 0.5em;
}

.f-dropdown.content {
  padding: 0.7rem;
}

/* Alpheios theme overrides -- better to use sass at some point */
body {

}
a {
  color: #73CDDE;
}

a:hover, a:focus {
  color: #5BC8DC;
  font-weight: bold;
}

.top-bar, .top-bar-section .has-form, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
  background: #4E6476;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #7E8897;
}

.top-bar-section ul li>a.button, li>button, button, .button, .label {
  background: #3E8D9C;
  color: white;
}

.top-bar-section ul li>a.button:hover, li>button:hover, button:hover, .button:hover, button:focus, .button:focus {
  background: #73CDDE;
}

.button.alert {
  background-color: #E49A0D;
}
.button.alert:focus, .button.alert:hover {
  background-color: #F6D918;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus,
button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #9e9c9a;
}


