.selected {
  text-decoration: underline;
}

.full-height {
  height: 100vh;
}

.row {
  max-width: 95vw;
}

.context-menu {
  position: absolute;
  z-index: 1;
  border: solid 1px #cccccc;
  background: #fff;
}

#sidepanel {
  z-index: 1;
  position: relative;
}

#sidepanel-body {
  margin-left: 4px;
}

#sidepanel-resizer {
  position: absolute;
  width: 8px;
  border-left: 1px solid;
  border-color: #d8d8d8;
  cursor: e-resize;
}

svg {
  overflow: hidden;
  background: lightgray;
}

.node rect {
  stroke: # 333;
  stroke - width : 1.5px;
  fill: #fff;
}

.selected text {
    fill: white;
}

.selected rect {
  fill: #cc0000;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #333;
  stroke-width : 1px;
  fill: none;
}
