@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);

html, body {
  height: 100%;
  overflow: hidden;
}

#canvas {
  overflow: hidden;
  width: 100%;
}

.scrollable {
  overflow: auto;
}

#sidepanel {
  float: right;
  width: 33%;
  z-index: 1;
  position: relative;
}

#sidepanel-body {
  margin-left: 4px;
}

#sidepanel-resizer {
  position: absolute;
  width: 8px;
  border-left: 1px solid;
  border-color: #d8d8d8;
  cursor: e-resize;
  background: url(../app/images/handle-v.png) 3px 50% no-repeat;
}


#main-body {
  width: 65%;
  float: left;
}

.canvas-border {
  height: 20px;
}

.tree-canvas {
  border: 1px solid rgb(216, 216, 216)
}

.tree-settings {
  margin: 0.3rem;
 }

.token {
  transition: background-color 100ms linear;
  transition: color 900ms ease-in-out;
}

.selected {
  background-color: #F6D918;
  transition: background-color 100ms linear;
}

.hovered {
  background-color: #5BC8DC;
  transition: background-color 200ms ease-in-out;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.row {
  max-width: 95vw;
}

.context-menu {
  /*replaced by f-dropdown content of foundation for now*/

  /*padding: 0.7rem;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*border: solid 1px #cccccc;*/
  /*background: #fff;*/
}

.menu-element {
  padding: 0.2rem;
}

tr.sentence-list td {
  cursor: pointer;
}

ul.sentence-list {
  list-style: none;
}

ul.navigation {
  list-style: none;
  display: inline-table;
  margin: 0;
  position: relative;
}

ul.navigation li:hover > ul {
  display: block;
}

ul.navigation ul {
  margin: 0;
  display: none;
  list-style: none;
  position: absolute;
  padding: 0.2rem;
  font-size: 0.875rem;
  top: 100%;
  z-index: 10;
}

ul.nested-dropdown {
  list-style: none;
  display: inline-table;
  padding: 0 1px;
  margin: 0;
  position: relative;
  border: 1px solid #cccccc;
}

ul.nested-dropdown:after ul.navigation:after {
  content: ""; clear: both; display: block;
}

ul.nested-dropdown ul {
  margin: 0;
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  border: 1px solid #cccccc;
  background-color: #fafafa;
  z-index: 1;
}

ul.nested-dropdown > li.first-item {
  font-size: 0.875em;
  text-align: left;
  background-color: #fafafa;
  background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 97% center;
}

ul.top-menu {
  left: -0.1em;
}

ul.nested-dropdown li {
  float: none;
  position: relative;
  white-space: nowrap;
  padding: 0 0.8em 0 0.5em;
  font-size: 0.875em;
}

ul.nested-dropdown li:hover {
  background-color: #ebebeb;
}

ul.nested-dropdown li.nested {
  background-repeat: no-repeat;
  background-position: 97% center;
  background-image: url(../app/images/menu_arrow_right.png);
  background-size: 7px auto;
}

ul.nested-dropdown li:hover > ul {
  display: block;
}

ul.nested-dropdown ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

svg {
  overflow: hidden;
}

.node rect {
  stroke: # 333;
  stroke-width : 1.5px;
  /* The following color needs to be taken from a foundation variable */
  /* once we start to use scss. It's the panels background color */
  fill: #f2f2f2;
}

.selected text {
  fill: white;
}

.selected rect {
  fill: #cc0000;
}

.edgeLabel rect {
  fill: #f2f2f2;
}

.tree-label {
  font-size: 0.7em;
}

.edgePath {
  stroke: #333;
  stroke-width : 0.5px;
  fill: none;
}

/* For exercise stuff */

input[type="text"].inline-form {
  display: inline;
  width: 120px;
}

input[type="text"].wrong-answer {
  border: 2px solid red;
}

input[type="text"].right-answer {
  border: 2px solid limegreen;
}

span.wrong-answer {
  color: red;
}

span.right-answer {
  color: limegreen;
}

/* Overrides to foundation */
dl.tabs {
  border-bottom: 1px solid #d8d8d8;
}
.tabs dd a {
  padding: 0.5em 0.7em;
  font-size: 0.8em;
  /*This is to override foundations default*/
  border-width: 0;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 0;
}

.f-dropdown.content {
  padding: 0.7rem;
}

.button.micro {
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.45rem;
  padding-left: 0.8rem;
  font-size: 0.7rem;
  margin: 0;
}

button.micro {
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.45rem;
  padding-left: 0.8rem;
  font-size: 0.7rem;
  margin: 0;
}

/* Alpheios theme overrides -- better to use sass at some point */
body {

}
a {
  color: #73CDDE;
}

a:hover, a:focus {
  color: #5BC8DC;
}

.tabs dd a {
  border-style: solid;
  border-color: #d8d8d8;
}

.tabs dd a:hover {
  border-color: #aaaaaa;
}

.top-bar, .top-bar-section .has-form, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
  background: #4E6476;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #7E8897;
}

.top-bar-section ul li>a.button, li>button, button, .button, .label {
  background: #3E8D9C;
  color: white;
}

.top-bar-section ul li>a.button:hover, li>button:hover, button:hover, .button:hover, button:focus, .button:focus {
  background: #73CDDE;
}

.button.alert {
  background-color: #E49A0D;
}
.button.alert:focus, .button.alert:hover {
  background-color: #F6D918;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus,
button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
  background-color: #9e9c9a;
}

.success-message {
  color: rgb(115, 255, 115);
  font-weight: bold;
}

.info-message {
  color: rgb(255, 255, 115);
  font-weight: bold;
}

.error-message {
  color: rgb(255, 115, 115);
  font-weight: bold;
}

.success-message-dark {
  color: rgb(0, 200, 0);
}
.error-message-dark {
  color: rgb(255, 0, 0);
}

.text {
  font-size: 0.875rem;
}

.text li {
  font-size: 0.875rem;
}

table.small tr td {
  font-size: 0.875rem;
  padding: 0.4rem 0.4rem;
  background-color: #fff;
}

.note, .elliptic {
  font-size: 0.7rem;
}

.normal-size {
  font-size: 1rem;
}

hr.small {
  margin: 0.5rem 0 0.3rem
}

/*TEI Stuff for Smyth Grammar Reader*/

div.citbibl {
   text-align: right;
   font-size: smaller;
}

#sg-g-r h4,h5,h6,h7 {
  text-align: center;
  font-style: italic;
}

#sg-g-r .gloss {
  font-style: italic;
}


/*Animations*/

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}

/*Topbar*/
.top-bar a.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.4;
}

.nav-link {
  padding: 0 10px !important;
}

.navbar-dropdown {
  position: absolute;
}

/*Morphology related*/

.accordion-selected {
  background-color: rgb(235, 255, 235) !important;
  transition: background-color 300ms ease-in-out;
}

.accordion-selected:hover {
  background-color: rgb(199, 226, 199) !important;
  transition: background-color 300ms ease-in-out;
}

.accordion dd > a:hover {
  transition: background-color 300ms ease-in-out;
}

.accordion dd > a {
  padding: 0.7rem;
  transition: background-color 300ms ease-in-out;
}

.rotate-on-hover:hover {
  animation: rotate-forward 1s;
  -webkit-animation: rotate-forward 1s;
}

.rotate-bw-on-hover:hover {
  animation: rotate-backward 1s;
  -webkit-animation: rotate-backward 1s;
}

@keyframes rotate-forward {
    0% { transform: rotate(  0deg) }
  100% { transform: rotate(360deg) }
}

@-webkit-keyframes rotate-forward {
    0% { -webkit-transform: rotate(  0deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@keyframes rotate-backward{
    0% { transform: rotate(   0deg) }
  100% { transform: rotate(-360deg) }
}

@-webkit-keyframes rotate-backward {
    0% { -webkit-transform: rotate(   0deg) }
  100% { -webkit-transform: rotate(-360deg) }
}

select.compact {
  height: 1.8rem;
  padding: 0.3rem;
}

input.compact {
  height: 1.9rem;
  padding: 0.3rem;
}

.error {
  background-color: #D3414D;
  border-color: #D3414D;
  transition: background-color 700ms ease-in-out;
}

.clickable {
  cursor: pointer;
}

.copy-cursor{
  cursor: copy !important;
}

.center {
  text-align: center;
}

.margined-hor-tiny {
  margin: 0 4px;
}

.flash-on-hover:hover {
  color: dimgrey;
  transition: color 300ms ease-out;
}

.flash-on-hover {
  /*body color - use a variable for this later on*/
  color: #222;
  transition: color 500ms ease-out;
}

.small-panel {
  border: 1px solid #d8d8d8;
  padding: 0.5rem;
}

.crosshair-cursor {
  cursor: crosshair !important;
}

.current-hist-event {
  background-color: #C8E5FF;
  transition: background-color 700ms ease-in-out;
}

.hist-event {
  transition: background-color 300ms ease-in-out;
}

ul.no-list {
  list-style-type: none;
}

#keys-to-screen {
  margin-top: 10px;
}

.key-to-screen {
  margin: 0 2px;
  border: 1px solid #4E6476;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  background-color: #4E6476;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  box-shadow: 3px 3px 2px #888888;
  opacity: 0;
  animation: slow-fade 2.8s;
  -webkit-animation: slow-fade 2.8s;
}

#keys-to-screen > .action {
  color: gray;
  opacity: 0;
  animation: slow-fade 2.8s;
  -webkit-animation: slow-fade 2.8s;
}

#keys-to-screen > .joiner {
  color: black;
  background-color: #f2f2f2;
  box-shadow: none;
  padding: 0.1rem 0.1rem 0.1rem 0.2rem;
  border: none;
}


@keyframes slow-fade {
    0% { opacity: 1 }
   50% { opacity: 1 }
  100% { opacity: 0 }
}

@-webkit-keyframes slow-fade {
    0% { opacity: 1 }
   50% { opacity: 1 }
  100% { opacity: 0 }
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.keyboard-key {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#keyboard .last-key {
  margin-right: 0;
}
#keyboard .first-key {
  clear: left;
}
#keyboard .tab, #keyboard .delete {
  width: 70px;
}
#keyboard .ctrl, #keyboard .alt {
  width: 70px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .return {
  width: 77px;
}
#keyboard .l-shift {
  width: 95px;
}
#keyboard .shift {
  width: 109px;
}

#keyboard .space {
  width: 359px;
}
