<div class="small-6 columns">
  <ul class="button-group right">
    <li>
      <span
        class="button micro radius"
        ng-click="reset()"
        translate="reset">
      </span>
    </li>
    <li>
      <span
        class="button micro radius"
        ng-click="save(mFCForm.$valid)"
        translate="save">
      </span>
    </li>
  </ul>
</div>

<div delimiter></div>

<form name="mFCForm">
  <div class="small-12 columns">
    <alert
      ng-if="alert"
      class="radius center fade-in error"
      close="resetAlert()">
      {{ translations.createError() }}
    </alert>
  </div>

  <div class="small-12 columns">
    <div class="small-3 columns">
      <label class="right">Lemma</label>
    </div>
    <div class="small-9 columns">
      <ng-form
        id="lemma-form"
        tooltip-placement="top"
        tooltip="{{ lemmaHint }}">
        <input
          foreign-keys
          class="compact error"
          type="text"
          required
          ng-change="declareOk()"
          ng-model="form.lemma">
        </input>
      </ng-form>
    </div>
  </div>

  <div
    ng-repeat="attr in visibleAttributes"
    ng-init="options= m.attributeValues(attr)">
    <div class="small-12 columns">
      <div class="small-3 columns">
        <label class="right">{{ m.longAttributeName(attr) }}</label>
      </div>

      <div class="small-9 columns">
        <select
          class="compact"
          required
          ng-model="form.attributes[attr]"
          ng-options="options[key].long for key in options | keys"
          ng-change="m.updatePostag(form, attr, form.attributes[attr])">
        </select>
      </div>
    </div>
  </div>
</form>
