<div class="small-12 columns text-center">
  <button
    class="tiny radius"
    ng-model="createMode"
    ng-click="createMode = !createMode">
    Create artificial Token
  </button>
  <div delimiter/>
  <div ng-if="createMode">
    <form name="cAT">
      <label>
        Visual representation of new token (optional)
        <input type="text" ng-model="plugin.model.string"/>
      </label>
      <div class="text-left">
        <select
          class="compact"
          required
          ng-model="plugin.model.type"
          ng-options="type for type in plugin.supportedTypes">
        </select>
      </div>
      <!--<button class="micro radius">Mirror token</button>-->
      <div delimiter/>
    </form>
    <button
      class="tiny radius"
      ng-click="plugin.propagateToState()">
      Add token
    </button>
  </div>
</div>
