<p
  ng-if="aT.count === 0"
  class="text"
  style="margin-left: 0.75rem">
  No artificial tokens present
</p>

<div class="panel" ng-repeat="(id, token) in aT.createdTokens">
  <div>
    <span class="left">
      <span
        class="normal-size"
        token="token"
        colorize="true"
        click="true"
        hover="true">
      </span>
      <sup
        class="note">
        {{ formatId(id) }}
      </sup>
    </span>
    <span class="right">
      <span
        ng-click="aT.removeToken(id)"
        class="button tiny radius">
        Delete
      </span>
    </span>
  </div>

  <input foreign-keys type="text" ng-model="token.string"/>
  <select
    class="compact"
    required
    ng-model="token.type"
    ng-options="type for type in plugin.supportedTypes">
  </select>
</div>
