<table lang-specific>
    <tr>
        <th translate="table.id"></th>
        <th translate="table.word"/>
        <th translate="table.head"/>
        <th translate="table.relation"/>
        <th translate="table.morph"/>
        <th translate="table.new"/>
        <th translate="table.comment"/>
    </tr>
  <tr ng-repeat="token in plugin.getTokens()">
      <td>{{token.id}}</td>
      <td>
        <span
            token="token"
            colorize="true"
            click="true"
            hover="true"
            highlight="true">
        </span>
      </td>
      <td>{{token.head.id}}</td>
      <td><div label-selector obj="token.relation"/></td>
      <td>
          <div morph-selector morph-token="token"></div>
      </td>
      <td>
          <morph-form-create morph-token="plugin.getAnalyses(token.id)" morph-id="token.id"></morph-form-create>
      </td>
      <td>
          <div inline-comment comment-token="token"></div>
      </td>
  </tr>
</table>