<span
  title="{{ translations.compact() }}"
  class="settings-span-button"
  ng-click="compactTree()">
  <i class="fa fa-compress"></i>
</span>
<span
  title="{{ translations.widen() }}"
  class="settings-span-button"
  ng-click="wideTree()">
  <i class="fa fa-expand"></i>
</span>
<span
  title="{{ translations.changeDir() }} {{ keyHints.directionChange }}"
  class="settings-span-button"
  ng-click="changeDir()">
  <i class="fi-loop rotate-on-hover"></i>
</span>
<span
  title="{{ translations.focusRoot() }}"
  class="settings-span-button"
  ng-click="focusRoot()">
  <i class="fa fa-crosshairs rotate-on-hover"></i>
</span>
<span
  title="{{ translations.focusSel() }} {{ keyHints.focusSelection}}"
  class="settings-span-button"
  ng-click="focusSelection()">
  <i class="fi-target-two rotate-on-hover"></i>
</span>
<span
  title="{{ translations.centerTree() }} {{ keyHints.centerTree }}"
  class="settings-span-button"
  ng-click="centerGraph()">
  <i class="fa fa-dot-circle-o"></i>
</span>
<span
  title="{{ translations.perfectWidth() }} {{ keyHints.perfectWidth }}"
  class="settings-span-button"
  ng-click="perfectWidth()">
  <i class="fa fa-arrows-h"></i>
</span>

