<!DOCTYPE html>
<html ng-app="fileBrowserApp">

<head>
  <meta charset="utf-8">
  <title>Arethusa</title>

  <link rel="stylesheet" type="text/css" href="/server/browser/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/server/browser/jstree/themes/default/style.min.css">
  <link rel="stylesheet" type="text/css" href="/server/browser/css/app.css">
  <link rel="stylesheet" type="text/css" href="/server/browser/css/tomorrow.css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>

  <script src="/server/browser/libs/google-code-prettify.js"></script>

  <script src="/server/browser/jstree/jstree.min.js"></script>

  <script src="/server/browser/libs/jstree-directive/jsTree.directive.js"></script>

  <script src="/dist/file_browser_app.concat.js"></script>
</head>

<body class="container">
  <ng-view></ng-view>
</body>

</html>
