<div class="row panel">
  <conf-header name="name" remover="removePlugin(name)"></conf-header>
  <div>
    <div class="large-6 columns">
      <div class="large-7 columns">
        <simple-form text="Template" model="conf.template"></simple-form>
        <input type="checkbox" ng-model="conf.main"/><label>Main Plugin</label>
        <input type="checkbox" ng-model="conf.listener"/><label>Event listener</label>
        <input type="checkbox" ng-model="conf.contextMenu"/><label>Context Menu</label>
        <simple-form ng-if="conf.contextMenu" text="Context Menu Template" model="conf.contextMenuTemplate"></simple-form>
      </div>
    <div>
  </div>
  <div ng-include="template"></div>
</div>
