<div>
  <p class="text" translate="globalSettings.title"/>
  <div class="small-12 columns scrollable text">
    <ul class="no-list in-columns" style="height: 200px">
      <li
        class="fade"
        ng-repeat="name in gS.settings | keys"
        ng-init="setting = gS.settings[name]">
        <div ng-switch="setting.type">
          <div
            ng-switch-when="custom"
            global-settings-custom="{{ setting.directive }}"/>
          <div ng-switch-default>
            <input
              type="{{ setting.type }}"
              ng-model="gS[setting.property]"/>
            <label>
              <span translate="{{ setting.label }}"/>
            </label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
