<div>
  <br/>
  <div class="text">
    <p
      class="text underline clickable"
      ng-click="legendsVisible = !legendsVisible">
      Color Legends
    </p>
    <div
      class="small-12 columns scrollable slider"
      style="height: 400px"
      ng-if="legendsVisible">
      <ul class="no-list" ng-repeat="(name, map) in gS.colorMaps()">
        <li
          ng-class="{ 'active-colorizer': name === gS.colorizer }">
          {{ name }}
        </li>
        <table class="small">
          <tr>
            <th ng-repeat="header in map.header">
              <strong>{{ header }}</strong>
            </th>
          </tr>
          <tr ng-repeat="(k, col) in map.colors">
            <td
              ng-style="col"
              ng-repeat="val in k.split(' || ') track by $index">
              {{ val }}
            </td>
          </tr>
        </table>
      </ul>
    </div>
  </div>
  <div delimiter/>

  <div class="text">
    <p
      class="text underline clickable"
      ng-click="keyHelpVisible = !keyHelpVisible">
      Keyboard Hotkeys
    </p>
    <div
      class="small-12 columns scrollable slider"
      style="height: 400px"
      ng-if="keyHelpVisible">
      <ul class="no-list" ng-repeat="(section, keys) in kC.activeKeys">
        <li>{{ section }}</li>
        <table class="small">
          <tr ng-repeat="(name, key) in keys">
            <td><strong>{{ key }}</strong></td><td>{{ name}}</td>
          </tr>
        </table>
      </ul>
    </div>
  </div>
</div>
