<li><a class="button" saver/></li>
<li><a class="button" hist-undo/></li>
<li><a class="button" hist-redo/></li>
<li><a class="button" sidepanel-folder/></li>
<li><a class="button" deselector/></li>
<li><a class="button" title="Messages" reveal-toggle="all-messages" slide="true"><i class="fi-mail"></i></a></li>
<li><a class="button" title="Contact us" id="uservoicebutton" data-uv-trigger="contact"><i class="fi-comment"></i></a></li>
<li><a class="button" title="{{ 'LANGUAGE' | translate }}" translate-language/></li>

