<li><a class="button" saver/></li>
<li><a class="button" hist-undo/></li>
<li><a class="button" hist-redo/></li>
<li>
  <a
    class="button"
    title="{{ menuTitle }}"
    dropdown-toggle="#navbar_collapsed_buttons_menu">
    <i class="fi-align-justify"></i>
  </a>
  <ul id="navbar_collapsed_buttons_menu" class="navbar-dropdown">
    <li><a outputter/></li>
    <li><a sidepanel-folder/></li>
    <li><a uservoice-trigger/></li>
    <li><a help-trigger/></li>
    <li><a global-settings-trigger/></li>
    <li><a translate-language/></li>
    <li><a exit/></li>
  </ul>
</li>
