<ul ng-show="showNavigation()" class="navbar-navigation">
  <li>
    <a>{{ navStat.citation }}</a>
  </li>
  <!--The wrapping divs around the a elements are only there for styling - the-->
  <!--foundation topbar gives them a differnet look and feel when they are wrapped.-->
  <li>
    <div>
      <a
        class="nav-link"
        title="{{ trsls.goToFirst() }}"
        ng-click="goToFirst()"
        ng-class="{ disabled: !navStat.hasPrev }">
        <i class="fi-previous"></i>
      </a>
    </div>
  </li>
  <li>
  <div>
    <a
      class="nav-link"
      title="{{ trsls.goToPrev(keys) }}"
      ng-click="prev()"
      ng-class="{ disabled: !navStat.hasPrev }">
      <i class="fi-arrow-left"></i>
    </a>
  </div>
  </li>
  <li>
    <div>
      <ul class="navigation">
        <li>
          <a>
            {{ ids }}
          </a>
          <ul>
            <div class="navigation-menu small-12 large-12 columns">
              <div>
                <form ng-submit="goTo(goToLocation)">
                  <input class="inline" type="text" ng-model="goToLocation"/>
                </form>
              </div>
              <div>
                <a sentence-list translate="list"
                  title="{{ trsls.list(keys) }}"/>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div>
      <a
        class="nav-link"
        title="{{ trsls.goToNext(keys) }}"
        ng-click="next()"
        ng-class="{ disabled: !navStat.hasNext }">
        <i class="fi-arrow-right"></i>
    </a>
  </div>
  </li>
  <li>
    <div>
      <a
        class="nav-link"
        title="{{ trsls.goToLast() }}"
        ng-click="goToLast()"
        ng-class="{ disabled: !navStat.hasNext }">
        <i class="fi-next"></i>
      </a>
    </div>
  </li>
</ul>
