<li><a class="button" saver/></li>
<li><a class="button" hist-undo/></li>
<li><a class="button" hist-redo/></li>
<li><a class="button" sidepanel-folder/></li>
<li><a class="button" deselector/></li>
<li><a class="button" all-messages-trigger/></li>
<li><a class="button" title="{{ translations.contactUs }}" id="uservoicebutton" data-uv-trigger="contact"><i class="fi-comment"></i></a></li>
<li><a class="button" global-settings-trigger/></li>
<li><a class="button" help-trigger/></li>
<li><a class="button" translate-language/></li>
<li><a class="button" exit/></li>

