<li><a class="button" saver/></li>
<li><a class="button" hist-undo/></li>
<li><a class="button" hist-redo/></li>
<li><a class="button" sidepanel-folder/></li>
<li><a class="button" deselector/></li>
<li><a class="button" title="{{ 'messages' | translate }}" reveal-toggle="all-messages" slide="true"><i class="fi-mail"></i></a></li>
<li><a class="button" title="{{ 'contactUs' | translate }}" id="uservoicebutton" data-uv-trigger="contact"><i class="fi-comment"></i></a></li>
<li><a class="button" help-trigger><i class="fa fa-question"></i></a></li>
<li><a class="button" translate-language/></li>
<li><a class="button" exit/></li>

