<li>
  <a
    class="button"
    title="Menu"
    dropdown-toggle="#navbar_collapsed_buttons_menu">
    <i class="fi-align-justify"></i>
  </a>
  <ul id="navbar_collapsed_buttons_menu" class="navbar-dropdown">
    <li><a saver/></li>
    <li><a hist-undo/></li>
    <li><a hist-redo/></li>
    <li><a sidepanel-folder/></li>
    <li><a deselector/></li>
    <li><a title="{{ 'messages' | translate }}"  reveal-toggle="all-messages" slide="true"><i class="fi-mail"></i></a></li>
    <li><a title="{{ 'contactUs | translate }}" id="uservoicebutton" data-uv-trigger="contact"><i class="fi-comment"></i></a></li>
    <li><a help-trigger><i class="fa fa-question"></i></a></li>
    <li><a translate-language/></li>
    <li><a exit/></li>
  </ul>
</li>
