<dl class="sub-nav">
  <dt>Selection:</dt>
  <dd ng-repeat="s in selectors" 
      ng-class="{active: s.isActive}">
      <a ng-click="s.action()">
        {{s.label()}}
      </a>
  </dd>
</dl>
<!--
<input
  type="checkbox"
  tooltip="You can also hit the escape key to deselect tokens"
  tooltip-popup-delay="700"
  tooltip-placement="right"
  ng-click="changeSelection()"
  ng-checked="hasAllTokensSelected || hasSomeTokensSelected"
  ui-indeterminate="hasSomeTokensSelected">
</input>
<select
  style="width: 100px"
  ng-model="selector"
  ng-change="selector.action()"
  ng-options="s as s.label() for s in selectors">
</select>
-->
