<div class="comments">
  <div class="italic">
    <span>on</span>
    <span ng-repeat="token in tokens">
      <span
        class="normal-size"
        token="token"
        colorize="true"
        click="true"
        hover="true">
      </span>
      <sup
        class="note">
        {{ formatId(token.id) }}
      </sup>
      <span ng-if="nonSequential[$index]">...</span>
    </span>
  </div>
  <div ng-repeat="comment in comments.comments" comment="comment"></div>
  <div class="text-center">
    <span class="button micro radius success"
      ng-click="addComment('general')">
      <i class="fa fa-comment"></i>
    </span>
    <button class="micro radius alert"
      ng-click="addComment('reject')">
      <i class="fa fa-comment"></i>
    </button>
    <form ng-if="inputOpen">
      <label class="text-left">{{ commentType }} comment
        <!--Need to explicitly ask for $parent, because ng-if opens a new scope-->
        <textarea rows="3" ng-model="$parent.comment">
        </textarea>
      </label>
      <span ng-click="submit()" class="button micro radius">Submit</span>
    </form>
  </div>
</div>
