<div class="comments">
  <div class="italic">
    <span comment-targets="tokens"/>
  </div>
  <div ng-repeat="comment in comments.comments" comment="comment"></div>
  <div class="text-center">
    <span class="button micro radius success"
      ng-click="inputOpen = !inputOpen">
      <i class="fa fa-reply"></i>
    </span>
    <form ng-if="inputOpen">
      <!--Need to explicitly ask for $parent, because ng-if opens a new scope-->
      <textarea rows="3" ng-model="$parent.comment">
      </textarea>
      <span ng-click="submit()" class="button micro radius">Submit</span>
    </form>
    <hr class="tiny">
  </div>
</div>
