<form ng-if="active">
  <!-- ngIf opens a new scope - we therefore need a -->
  <!-- parent reference in our model -->
  <textarea
    focus-me="active"
    rows="3"
    placeholder="{{ markdownPlaceholder}}"
    ng-model="$parent.comment"/>
  <div ng-if="preview" class="fade-in">
    <div class="center italic">Preview</div>
    <md ng-if="preview" ng-model="$parent.comment"/>
  </div>
  <span
    ng-disabled="!comment"
    ng-click="submit()"
    class="button micro radius"
    translate="submit">
  </span>

  <span
    ng-disabled="!comment"
    ng-click="preview = !preview"
    class="button micro radius">
    Preview
  </span>
</form>
