<div class="small-12 columns" ng-if="!plugin.hideMode">
  <span>
    <span class="settings-span-button right" review-linker/>
    <span>
      <label class="margined-hor-tiny right"> Auto-compare
        <input type="checkbox" ng-model="plugin.autoDiff"/>
      </label>
    </span>
  </span>
</div>
<div review-stats ng-if="plugin.diffActive"/>
<div delimiter/>
<div class="small-12 columns">
  <div ng-class="{ 'tree-canvas': !plugin.hideMode }">
    <div class="tree-settings">
      <span class="button radius tiny right" ng-click="plugin.compare()">Compare</span>
    <div>
    <div
      ng-if="!plugin.hideMode"
      dependency-tree
      tokens="plugin.goldTokens"
      to-bottom
      class="full-width">
    </div>
  </div>
</div>
