<ul class="nested-dropdown">
  <li class="first-item">{{ plugin.prefixWithAncestors(obj) }}
    <ul
      ng-if="showMenu"
      class="top-menu"
      nested-menu-collection
      property="plugin.usePrefix"
      current="obj"
      ancestors="plugin.defineAncestors"
      all="plugin.relationValues.labels"
      empty-val="true">
    </ul>
  </li>
</ul>
<ul class="nested-dropdown" ng-if="plugin.relationValues.suffixes">
  <li class="first-item">{{ plugin.suffixOrPlaceholder(obj) }}
    <ul
      ng-if="showMenu"
      class="top-menu"
      nested-menu-collection
      property="plugin.useSuffix"
      current="obj"
      all="plugin.relationValues.suffixes"
      empty-val="true">
    </ul>
  </li>
</ul>

