<div>
  <div class="tree-settings">
    <span
      class="note right settings-span-button"
      ng-show="plugin.diffPresent"
      ng-click="plugin.toggleDiff()">
      Toggle Diff
    </span>
    <span
      class="note right settings-span-button"
      style="margin-left: 10px"
      unused-token-highlighter
      uth-check-property="head.id">
    </span>
  </div>

  <div
    lang-specific
    dependency-tree
    tokens="state.tokens"
    styles="plugin.diffStyles()"
    to-bottom>
  </div>
</div>
