<div class="small-12 columns">
  <div class="small-4 columns note">
    {{ plugin.tokensWithoutHeadCount() }} of {{ state.totalTokens }} unused
  </div>
  <div class="small-6 columns"></div>
  <div class="small-2 columns right end">
    <span
      class="button radius tiny right"
      ng-show="plugin.diffPresent"
      ng-click="plugin.toggleDiff()">
      Toggle Diff
    </span>
  </div>
</div>
<div
  dependency-tree
  tokens="state.tokens"
  styles="plugin.diffStyles()"
  class="full-height full-width">
</div>
