<arethusa-navbar></arethusa-navbar>
<p/>
<div id="canvas" class="row panel full-height" full-height>
  <div id="main-body" class="columns small-7">
    <div ng-repeat="pl in mainPlugins">
      <plugin name="pl"/>
    </div>
  </div>

  <div id="sidepanel" class="columns small-5">
    <div id="sidepanel-resizer" full-height resizable></div>
    <div id="sidepanel-body">
      <tabset>
        <tab
          ng-click="declareActive(pl.name)"
          ng-repeat="pl in subPlugins"
          heading="{{ pl.name }}">
          <plugin name="pl" ng-if="isActive(pl)"/>
        </tab>
      </tabset>
    </div>
  </div>
</div>
