<arethusa-navbar></arethusa-navbar>

<div class="canvas-border"></div>

<div class="panel row large-12 columns">
  <div class="section">
    <a href="https://github.com/latin-language-toolkit/arethusa"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"/></a>
    <p class="italic">A backend-independent client-side annotation framework</p>

    <div style="margin: auto">
      <img src="../dist/examples/images/grid.png" style="height: 650px; display: block; margin: auto"/>
    </div>
  </div>

  <div class="large-12 columns" style="padding: 1rem 0"/>

  <div class=section>
    <h3>Use cases</h3>
    <p>Through its modular nature Arethusa can be configured to solve different use cases.<p>

    <div class="large-12 columns">
      <div ng-repeat="useCase in useCases">
        <h3 class="italic">{{ useCase.name }}</h4>
        <div ng-repeat="example in useCase.examples">
          <div
            class="large-4 columns panel clickable"
            ng-click="goTo(example.url)">
            <h4>{{ example.name }}</h4>
            <img ng-src="{{ example.img }}"/>
            <p>{{ example.caption }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-12 columns" style="padding: 1rem 0"/>

  <div class="section">
    <h3>Getting started</h3>
    <iframe width="640" height="360" src="//www.youtube.com/embed/FbRRoVnVuDs" frameborder="0" allowfullscreen></iframe>
    <iframe width="640" height="360" src="//www.youtube.com/embed/hp-bhasd96g" frameborder="0" allowfullscreen></iframe>
    <p>
    <a href="http://sites.tufts.edu/perseids/instructions/screencasts/">More screencasts</a>
    </p>
  </div>

  <div class="large-12 columns" style="padding: 1rem 0"/>

  <div class="section">
    <h3>Development</h3>
    <p>
    Arethusa is built on the <a href="https://angularjs.org/angular.js">AngularJS</a> javascript web application framework 
    and provides a back-end independent plugin infrastructure for accessing texts, annotations and linguistic services from a variety of sources. 
    Extensibility is a guiding design goal - Arethusa includes tools for automatic generation of new plugin skeletons 
    (<a href="https://github.com/latin-language-toolkit/arethusa-cli">Arethusa::CLI</a>) and detailed <a href="http://github.com/latin-language-toolkit/arethusa/blob/docs/docs/content/plugin_guide.md">development guides</a> are currently in progress, 
    with the hopes that others will be able to reuse and build upon the platform to add support for other annotation types, 
    languages and back-end repositories and workflow engines.
    </p>
  </div>

  <div class="large-12 columns" style="padding: 1rem 0"/>

  <div style="section">
    <h3>Partners</h3>
    <div class="large-12 columns">
      <div class="img-container" style="display: inline-block">
        <a href="{{ partners[0].href }}">
          <img class="center" style="height: 250px" ng-src="{{ partners[0].img }}"/>
        </a>
      </div>
      <div class="img-container" style="display: inline-block; vertical-align: 3rem">
        <a href="{{ partners[1].href }}">
          <img class="center" ng-src="{{ partners[1].img }}"/>
        </a>
        <div style="padding: 2rem 0"/>
        <a href="{{ partners[2].href }}" target="_blank">
          <img class="center" style="display: block" ng-src="{{ partners[2].img }}"/>
        </a>
      </div>
      <div class="img-container" style="display: inline-block">
        <a href="{{ partners[3].href }}" target="_blank">
          <img class="center" style="display: inline-block" ng-src="{{ partners[3].img }}"/>
        </a>
      </div>
    </div>
    <p>
  </div>

  <div class="large-12 columns" style="padding: 1rem 0"/>

  <div>
    <h3>Funders</h3>
    <p>This project has received support from the <a href="http://www.mellon.org/">Andrew W. Mellon Foundation</a>, the <a href="http://imls.gov/">Institute of Museum and Library Services</a> and the <a href="http://ec.europa.eu/esf/home.jsp">European Social Fund</a>.</p>
  </div>
</div>

