<div class="row panel">
  <div class="columns small-12">
    <div>
      <h3>Main Controller</h3>
      <p>
        <span>Selected tokens: {{ state.currentTokensAsStringList() }}</span>
        <deselector>
          <button class="right small">Deselect all</button>
        </deselector>
      </p>
      <p>{{ state.tokens }}</p>
    </div>
  </div>
</div>


<div class="row panel full-height">
  <div class="columns small-6">
    <div ng-repeat="pl in mainPlugins">
      <plugin name="{{ pl }}"/>
    </div>
  </div>

  <div class="columns small-6">
    <tabset>
      <tab ng-repeat="pl in subPlugins" heading="{{ pl }}">
        <plugin name="{{ pl }}"/>
      </tab>
    </tabset>
  </div>
</div>
