<div class="row panel">
  <div class="columns small-12">
    <div>
      <h3>Main Controller</h3>
      <span>Selected tokens: {{ state.currentTokensAsStringList() }}</span>
      <deselector>
        <button class="right small">Deselect all</button>
      </deselector>
    </div>
  </div>
</div>


<div class="row panel">
  <div class="columns small-6">
    <div ng-repeat="pl in mainPlugins">
      <plugin name="{{ pl }}"/>
    </div>
  </div>

  <div class="columns small-6">
    <tabset>
      <tab ng-repeat="pl in subPlugins" heading="{{ pl }}">
        <plugin name="{{ pl }}"/>
      </tab>
    </tabset>
  </div>
</div>
