<div>
  <div id="arethusa-editor">
    <div class="canvas-border"/>

    <div id="canvas" class="row panel full-height" full-height>
      <div id="main-body" to-bottom class="">
        <div ng-repeat="pl in plugins.main">
          <plugin name="{{ pl.name }}"/>
        </div>
        <div keys-to-screen/>
      </div>

      <div id="sidepanel" sidepanel to-bottom class="scrollable">
        <div id="sidepanel-resizer" resizable to-bottom></div>
        <div id="sidepanel-body">
          <tabset>
            <tab
              ng-repeat="pl in plugins.sub"
              select="plugins.setActive(pl)"
              heading="{{ pl.displayName }}"
              active="plugins.isSelected(pl)">
              <plugin name="{{ pl.name }}" ng-if="plugins.isActive(pl)"/>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

    <div arethusa-context-menus tokens="state.tokens" plugins="plugins.withMenu"/>
  </div>
  <div notifications/>
  <div id="arethusa-sentence-list" class="hide"/>
</div>
