<arethusa-navbar></arethusa-navbar>

<div class="canvas-border"></div>

<div class="panel">
<a href="https://github.com/latin-language-toolkit/arethusa"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<h3>Arethusa</h3>
<p>TODO description</p>

<h3>Use cases or configurations</h3>
<p>Through its modular nature Arethusa can be configured for different use cases:<p>
TODO
<div class="row" data-equalizer>
  <div class="large-4 columns panel" data-equalizer-watch>
    <h4>Treebanking</h4>
    TODO description
    <a href="/app/#/staging2?doc=1&s=2">Example</a>
    TODO image
  </div>
  <div class="large-4 columns panel" data-equalizer-watch>
    <h4>Review mode</h4>
    <a href="/app/#/review_test?doc=1&gold=11">Example</a>
  </div>
  <div class="large-4 columns panel" data-equalizer-watch>
    <h4>Review mode</h4>
    <a href="/app/#/review_test?doc=1&gold=11">Example</a>
  </div>
</div>
The new Grid layout
http://localhost:8081/app/#/staging3?doc=1



A Greek document, including the SG plugin
http://localhost:8081/app/#/sg?doc=athenaeus12&s=1

An empty document to play around (saving disabled)
http://localhost:8081/app/#/clean?doc=clean1

<h3>Getting started</h3>
<iframe width="640" height="360" src="//www.youtube.com/embed/FbRRoVnVuDs" frameborder="0" allowfullscreen></iframe>
<iframe width="640" height="360" src="//www.youtube.com/embed/hp-bhasd96g" frameborder="0" allowfullscreen></iframe>
<p>
<a href="http://sites.tufts.edu/perseids/instructions/screencasts/">More screencasts</a>
</p>

<h3>Development</h3>
<p>
Arethusa is built on the <a href="https://angularjs.org/angular.js">AngularJS</a> javascript web application framework 
and provides a back-end independent plugin infrastructure for accessing texts, annotations and linguistic services from a variety of sources. 
Extensibility is a guiding design goal - Arethusa includes tools for automatic generation of new plugin skeletons 
(<a href="https://github.com/latin-language-toolkit/arethusa-cli">Arethusa::CLI</a>) and detailed development guides are currently in progress (TODO link?), 
with the hopes that others will be able to reuse and build upon the platform to add support for other annotation types, 
languages and back-end repositories and workflow engines.
</p>


<h3>Funders</h3>
<p>This project has received support from the <a href="http://www.mellon.org/">Andrew W. Mellon Foundation</a> and the <a href="http://imls.gov/">Institute of Museum and Library Services</a>.</p>
</div>

