<div class="right">
  <prev-token><span class="label radius">prev</span></prev-token>
  <next-token><span class="label radius">next</span></next-token>
</div>

<!--{{ plugin.analyses }}-->

<div ng-repeat="(id, analysis) in plugin.currentAnalyses()">
  <p token-with-id value="analysis.string" token-id="id"/>
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="form in analysis.forms" >
      <accordion-heading>
         <div class="row">
           <div class="columns small-5">
             • <span ng-style="plugin.styleOf(form)">{{ form.lemma }}
             <br>
             </span> {{ plugin.concatenatedAttributes(form) }}
           </div>
           <div class="columns small-2">{{ form.postag }}</div>
           <div class="columns small-2 note">{{ form.origin }}</div>
           <div form-selector class="columns small-2 right end"></div>
         </div>
      </accordion-heading>
      <morph-form-edit></morph-form-edit>
    </accordion-group>
    <accordion-group heading="Create new form">
      <morph-form-create></morph-form-create>
    </accordion-group>
  </accordion>
</div>
