<div class="small-12 columns">
  <ul class="button-group right">
    <li><span next-token class="button micro radius">prev</span></li>
    <li><span prev-token class="button micro radius">next</span></li>
  </ul>
</div>

<div ng-repeat="(id, analysis) in plugin.currentAnalyses()">
  <div class="small-12 columns" lang-specific>
    <p token-with-id value="analysis.string" token-id="id"/>
  </div>
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="form in analysis.forms" >
      <accordion-heading>
         <div class="row">
           <div class="columns small-5 left">
             <span ng-style="plugin.styleOf(form)" lang-specific>{{ form.lemma }}
             <br>
             </span> {{ plugin.concatenatedAttributes(form) }}
           </div>
           <div class="columns small-2">{{ form.postag }}</div>
           <div class="columns small-2 note">{{ form.origin }}</div>
           <div form-selector class="columns small-2 right end"></div>
         </div>
      <hr>
      </accordion-heading>
      <div class="small-12 columns" morph-form-attributes="form" token-id="id"></div>
      <p class="small-12 columns"/>
      <hr>
  </accordion>
  <div class="small-6 columns">
    <button reveal-toggle="mfc{{ id }}" class="micro radius">Create new form</button>
  </div>
  <morph-form-create id="mfc{{ id }}" forms="analysis.forms" class="hide"></morph-form-create>
</div>
