<div class="right">
  <prev-token><span class="label radius">prev</span></prev-token>
  <next-token><span class="label radius">next</span></next-token>
</div>

<!--{{ plugin.analyses }}-->

<div ng-repeat="(id, analysis) in plugin.currentAnalyses()">
  <div>{{ analysis.string }}</div>
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="form in analysis.forms" >
      <accordion-heading>
        • {{ plugin.concatenatedAttributes(form) }} ({{ form.postag }})
        <form-selector class="right">
      </accordion-heading>
      <morph-form-edit></morph-form-edit>
    </accordion-group>
  </accordion>
</div>
