<div class="row">
  <h3>Arethusa Morph Helper</h3>

  <div class="fade" ng-if="ready">
    <ul>
      <li ng-repeat="file in files">
        <a ng-click="loadCsvFile(file)">{{ file.name }}</a>
      </li>
    </ul>
  </div>

  <div>
    <button class="small rounded" ng-click="importFile()">Import from file</button>
    <button class="small rounded" ng-click="exportFile()">Export to file</button>
  </div>

  <div ng-if="status.import.count">
    {{ status.import.count}} forms successfully imported!
  </div>

  <div ng-if="status.export.count">
    {{ status.export.count}} forms successfully exported!
  </div>

  <div ng-if="importStarted" style="color: green">
    Processing import...
  </div>

</div>
