<div class="row" ng-repeat="(attr, val) in form.attributes">
  <div class="small-3 columns">
    <label class="right">{{ plugin.longAttributeName(attr) }}</label>
  </div>

  <div class="small-9 columns">
    <select
      ng-model="form.attributes[attr]"
      ng-init="opt.short"
      ng-options="name as opt.long for (name, opt) in plugin.attributeValues(attr)"
      fire-event="{target: 'form', property: 'attr', value: 'val'}"
      synchronize-postag="{form: 'form', attr: 'attr', val: 'val'}">
    </select>
  </div>
</div>
<small ng-show="form.lexInvUri">Lexical Inventory: {{ form.lexInvUri }}</small>
