<div class="small-6 columns">
  <div class="button-group">
    <span class="right button micro radius" ng-click="reset()">Reset</span>
    <span class="right button micro radius" ng-click="save()">Save</span>
  </div>
</div>

<div class="small-12 columns">
  <div class="small-3 columns">
    <label class="right">Lemma</label>
  </div>
  <div class="small-9 columns">
    <input type="text" ng-model="form.lemma"></input>
  </div>
</div>

<div
  class="row"
  ng-repeat="attr in visibleAttributes"
  ng-init="options= m.attributeValues(attr)">

  <div class="small-3 columns">
    <label class="right">{{ m.longAttributeName(attr) }}</label>
  </div>

  <div class="small-9 columns">
    <select
      ng-model="form.attributes[attr]"
      ng-options="options[key].long for key in options | keys"
      ng-change="m.updatePostag(form, attr, form.attributes[attr])">
    </select>
  </div>
</div>
