<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img ng-src="{{$scope.baseurl + 'css/arethusa.png'}}"/></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul ng-show="showSearch()" class="left" ng-controller="SearchCtrl">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-9 small-10 columns">
              <form ng-submit="search()">
                <input type="text" ng-model="query" placeholder="Search for text...">
              </form>
            </div>
            <div class="large-3 small-2 columns">
              <button class="alert button expand" ng-click="search()">Search</button>
            </div>
          </div>
        </li>
      </ul>
      <ul ng-show="showNavigation()" ng-controller="NavigatorCtrl">
        <li>
          <div><a ng-click="goToFirst()">&#8676;</a></div>
        </li>
        <li>
          <div ng-if="hasPrev()"><a ng-click="prev()">&laquo;</a></div>
        </li>
        <li>
          <div>
            <ul class="navigation">
              <li>
                <a>
                  {{ navStat.currentId }}
                </a>
                <ul>
                  <div class="navigation-menu small-12 large-12 columns">
                    <div>
                      <form ng-submit="goTo(goToLocation)">
                        <input class="inline" type="text" ng-model="goToLocation"/>
                      </form>
                    </div>
                    <div><a sentence-list>List</a></div>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div ng-if="hasNext()"><a ng-click="next()">&raquo;</a></div>
        </li>
        <li>
          <div><a ng-click="goToLast()">&#8677;</a></div>
        </li>
      </ul>
      <ul ng-show="showNotifier()">
        <span current-message/>
      </ul>
      <ul class="has-form button-group right">
        <li><a ng-click="fakeError()" class="button">Error</a></li>
        <li><a ng-click="save()" class="button">Save</a></li>
        <li><a deselector class="button">Deselect all</a></li>
        <li><a ng-click="toggleDebugMode()" class="button">Debug</a></li>
        <li><a sidepanel-folder class="button">Fold Panel</a></li>
        <li><a context-menu menu-id="all-messages" menu-trigger="click" class="button">Messages</a></li>
      </ul>
    </section>
  </nav>
</div>
<div all-messages id="all-messages" class="hide row panel"/>

