<div>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img ng-src="{{$scope.baseurl + 'css/arethusa.png'}}"/></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul ng-show="showSearch()" class="left" ng-controller="SearchCtrl">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-9 small-10 columns">
              <form ng-submit="search()">
                <input type="text" ng-model="query" placeholder="Search for text...">
              </form>
            </div>
            <div class="large-3 small-2 columns">
              <button class="alert button expand" ng-click="search()">Search</button>
            </div>
          </div>
        </li>
      </ul>
      <ul ng-show="showNavigation()" class="left" ng-controller="NavigatorCtrl">
        <li>
          <div><a ng-click="prev()">&laquo;</a></div>
        </li>
        <li>
          <div><a>{{ navStat.currentId }}</a></div>
        </li>
        <li>
          <div><a ng-click="next()">&raquo;</a></div>
        </li>
      </ul>
      <ul ng-show="showNotifier()" class="right" ng-controller="NotifierCtrl">
        <!--tbd-->
      </ul>
      <ul class="has-form button-group right">
        <li><a deselector class="button">Deselect all</a></li>
        <li><a ng-click="toggleDebugMode()" class="button">Debug</a></li>
        <li><a sidepanel-folder class="button">Fold Panel</a></li>
      </ul>
    </section>
  </nav>
</div>
