<div class="row panel">
  <div class="text-center">
    <span><em>{{ name }}</em></span>
    <a class="has-tip" tooltip-placement="right" tooltip="remove" ng-click="remover(name)">✘</a>
  </div>

  <div>
    <div class="large-3 columns">
      <template-form text="Template" model="conf.template"></template-form>
      <input type="checkbox" ng-model="conf.main"/><label>Main Plugin</label>
      <input type="checkbox" ng-model="conf.listener"/><label>Event listener</label>
    <div>
  </div>
  <div div ng-include="template"></div>
</div>
