<div>
  <div class="small-12 columns">
    <div class="small-2 columns">
      <span class="note">Change all</label>
    </div>
    <div class="small-10 columns">
      <ul class="nested-dropdown">
        <li class="first-item">{{ plugin.prefixWithAncestors(plugin.multiChanger) }}
          <ul
            class="top-menu"
            nested-menu-collection
            property="plugin.usePrefix()"
            current="plugin.multiChanger"
            ancestors="plugin.defineAncestors()"
            all="plugin.relationValues.labels"
            empty-val="true">
          </ul>
        </li>
      </ul>
      <ul class="nested-dropdown">
        <li class="first-item">{{ plugin.suffixOrPlaceholder(plugin.multiChanger) }}
          <ul
            class="top-menu"
            nested-menu-collection
            property="plugin.useSuffix()"
            current="plugin.multiChanger"
            all="plugin.relationValues.suffixes"
            empty-val="true">
          </ul>
        </li>
      </ul>
      <button
        class="tiny radius right"
        ng-disabled="! plugin.multiChangePossible()"
        ng-click="plugin.applyMultiChanger()">
        Apply
      </button>
    </div>
  </div>
</div>


<div ng-repeat="(id, obj) in plugin.currentLabels()">
  <div class="small-12 columns">
    <p token-with-id value="obj.string" token-id="id"/p>
    <ul class="nested-dropdown">
      <li class="first-item">{{ plugin.prefixWithAncestors(obj.relation) }}
        <ul
          class="top-menu"
          nested-menu-collection
          property="plugin.usePrefix()"
          current="obj.relation"
          ancestors="plugin.defineAncestors()"
          all="plugin.relationValues.labels"
          empty-val="true">
        </ul>
      </li>
    </ul>
    <ul class="nested-dropdown">
      <li class="first-item">{{ plugin.suffixOrPlaceholder(obj.relation) }}
        <ul
          class="top-menu"
          nested-menu-collection
          property="plugin.useSuffix()"
          current="obj.relation"
          all="plugin.relationValues.suffixes"
          empty-val="true">
        </ul>
      </li>
    </ul>
  </div>
</div>

