<div class="small-12 columns">
  <div class="small-1 columns">
    <label class="inline">Search token</label>
  </div>
  <div class="small-8 columns">
    <input type="text" 
      ng-change="plugin.queryTokens()"
      ng-model="plugin.tokenQuery">
  </div>
  <div class="small-3 columns">
    <input
      type="checkbox"
      ng-change="plugin.queryTokens()"
      ng-model="plugin.queryByRegex"/>
      <label>regex</label>
  </div>
</div>

<div class="small-12 columns">
  <label class="inline">Found tokens</label>
  <ul>
    <li
      ng-repeat="(id, type) in state.selectedTokens"
      token-with-id
      value="state.asString(id)"
      token-id="id">
    </li>
  </ul>
</div>
