<div class="small-12 columns">
  <div search-by-string/>
</div>

<div class="small-12 columns" ng-repeat="pl in plugin.searchPlugins">
  <div plugin-search="pl"></div>
</div>

<div class="small-12 columns">
  <label class="inline">
    <span translate="search.foundTokens"/>
  </label>
  <ul lang-specific>
    <li
      ng-repeat="(id, type) in state.selectedTokens"
      class="fade fast clickable"
      ng-mouseenter="hovered = true"
      ng-mouseleave="hovered = false"
      ng-class="{ 'search-result-hovered': hovered }"
      ng-click="state.deselectToken(id, type)"
      token-with-id
      value="state.asString(id)"
      token-id="id">
    </li>
  </ul>
</div>
