<h3>Text plugin</h3>
<table>
  <tr>
    <td ng-repeat="token in state.tokens">
      {{ token.id }}
    </td>
  </tr>
  <tr>
      <!--this mouse behavior should get moved
          inside the token directive eventually-->
    <td
      ng-repeat="token in state.tokens"
      ng-click="state.toggleSelection(token.id, 'click')"
      ng-mouseenter="state.selectToken(token.id, 'hover')"
      ng-mouseleave="state.deselectToken(token.id, 'hover')">
      <token ng-class="{selected: state.isSelected(token.id)}"></token>
    </td>
  </tr>
</table>
